.markItUpEditor {
  background: none;
  width: 100%;
  border: 1px solid;
  border-color: #848484 #c1c1c1 #e1e1e1;
  font-family: Arial, 'Liberation Sans', FreeSans, sans-serif;
  &:active, &:focus {
    box-shadow: none;
  }
}