.modal {
  line-height: 1.5em;
  .modal-body {
    max-height: 700px;
  }
  input[type="text"] {
    margin: 0 0 1em;
  }
  label {
    padding: 0 12px 0 2px;
  }
  fieldset {
    margin-bottom: 10px;
  }
  .preview {
    width: 350px;
    height: 200px;
    margin: 15px auto;
    img {
      max-width: 100%;
      max-height: 100%;
    }
  }
  &.fade.in {
    top: 6%;
  }
}
