.markItUp .markItUpButton5,
.markItUp .markItUpButton6,
.markItUp .markItUpButton7,
.markItUp .markItUpButton8,
.markItUp .markItUpButton9 {
  a:before {
    font-family: FontAwesome;
    -webkit-font-smoothing: antialiased;
    padding-right: 4px;
    vertical-align: middle;
  }
}

.markItUp .markItUpButton5 a:before {
  content: "\f022";
}

.markItUp .markItUpButton6 a:before {
  content: "\f021";
}

.markItUp .markItUpButton7 a:before {
	content: "\f023";
}
.markItUp .markItUpButton8 a:before {
	content: "\f024";
}

.markItUp .markItUpButton9 a:before	{
	content: "\f025";
}
